* {
    margin: 0;
    padding: 0;
}

body {
    height: 200vh;
}

.bg{
	background-image: url('bge.jpg');
    background-size: cover;
    height: 600px;
}

.navbar{
    color: white;
    position: fixed;
	width:100%;
    padding: 30px;
}

li{
    display: inline;
    padding: 30px;
    font-size: 1.2rem;
    font-weight: bold;
}

.bgColor{
	transition: all 1s; 
	background-color:yellow;
	color: black;
	border-bottom: 1px solid lightgray;
}
